[defaults]
forks = 20
host_key_checking = False
stdout_callback = yaml
timeout = 15
task_timeout = 120

[ssh_connection]
pipelining = True
timeout = 15
ssh_args = -C -o ControlMaster=no -o BatchMode=yes -o ConnectTimeout=10 -o ConnectionAttempts=1 -o ServerAliveInterval=10 -o ServerAliveCountMax=2
retries = 1
