function remove_confederation_as() {
    bgp_path.delete([INTRA_CONFEDERATION_START..INTRA_CONFEDERATION_END]);
    bgp_path.delete([4233770000..4233779999]);
}

function remove_private_community(){
    bgp_large_community.delete([(4242422024, *, *)]);
    bgp_large_community.delete([(205369, *, *)]);
}

function get_unique_as_path_len(int asn; int cnt; int set seen;) -> int
{
    cnt = 0;
    seen = [];

    for asn in bgp_path do 
    {
        if !(asn ~ seen) then 
        {
            seen = seen + [ asn ];
            cnt = cnt + 1;
        }
    }

    return cnt;
}