#!/usr/bin/bash
TMP_OUTPUT=$(mktemp)
OUTPUT_PATH="/etc/bird/iana_downstream_whilelist.conf"

downstream_asn_list=({{ iana.downstreams | map(attribute='neighbor.asn') | join(' ') }})
declare -A downstream_asset_list
declare -A downstream_seen_asn
{% for downstream in iana.downstreams | default([]) %}
downstream_asset_list[{{ downstream.neighbor.asn }}]="{{ downstream.as_set }}"
{% endfor %}

for asn in "${downstream_asn_list[@]}"; do
    if [[ -n "${downstream_seen_asn[$asn]}" ]]; then
        continue
    fi
    downstream_seen_asn["$asn"]=1
    as_set="${downstream_asset_list[$asn]}"
    if [[ -z "$as_set" ]]; then
        as_set="AS${asn}"
    fi
    bgpq4 -b -t -l "downstream_${asn}_as_set" "$as_set" >> "$TMP_OUTPUT"
    echo >> "$TMP_OUTPUT"
done

peer_asn_list=({{ iana.peers | map(attribute='neighbor.asn') | join(' ') }})
declare -A peer_asset_list
declare -A peer_seen_asn
{% for peer in iana.peers | default([]) %}
peer_asset_list[{{ peer.neighbor.asn }}]="{{ peer.as_set }}"
{% endfor %}

for asn in "${peer_asn_list[@]}"; do
if [[ -n "${peer_seen_asn[$asn]}" ]]; then
        continue
    fi
    peer_seen_asn["$asn"]=1
    as_set="${peer_asset_list[$asn]}"
    if [[ -z "$as_set" ]]; then
        as_set="AS${asn}"
    fi
    bgpq4 -b -t -l "peer_${asn}_as_set" "$as_set" >> "$TMP_OUTPUT"
    echo >> "$TMP_OUTPUT"
done

mv $TMP_OUTPUT $OUTPUT_PATH