{% set _flap_server_node = hostvars['hkg01-hk'].node %}
{% set _flap_server_v6 = '%s:%d:%d::%s' | format(intra_global.loopback_v6_prefix, _flap_server_node.tier, _flap_server_node.region, _flap_server_node.node_token) %}
protocol bgp dn42_flapalerted {
    router id INTRA_LOOPBACKv4;
    local INTRA_LOOPBACKv6 as DN42_OWNAS;
    neighbor {{ _flap_server_v6 }} as DN42_OWNAS port {{ dn42.flapalerted.neighbor.port }};

    ipv4 {
        table master4;
        add paths on;
        export where bgp_large_community ~ [(4242422024,1,1)];
        import none;
        extended next hop on;
    };

    ipv6 {
        table master6;
        add paths on;
        export where bgp_large_community ~ [(4242422024,1,1)];
        import none;
    };
}

roa4 table dn42_roa_flap_v4;
roa6 table dn42_roa_flap_v6;

protocol rpki dn42_rpki_flapalerted {
    roa4 { table dn42_roa_flap_v4; };
    roa6 { table dn42_roa_flap_v6; };
    remote {{ _flap_server_v6 }} port {{ dn42.flapalerted.rpki_remote.port }};
    max version 1;
    retry keep 10;
};
