{% set all_sessions = effective_intra_ibgp_sessions | default(intra.ibgp_sessions | default([])) %}
{% set ns = namespace(import_policies=[], export_policies=[]) %}
{% for session in all_sessions %}
{% set ipv4 = session.ipv4 | default({}) %}
{% set ipv6 = session.ipv6 | default({}) %}
{% set ipv4_import_policy = ipv4.import_policy | default(session.import_policy | default('default')) %}
{% set ipv4_export_policy = ipv4.export_policy | default(session.export_policy | default('default')) %}
{% set ipv6_import_policy = ipv6.import_policy | default(session.import_policy | default('default')) %}
{% set ipv6_export_policy = ipv6.export_policy | default(session.export_policy | default('default')) %}
{% if ipv4_import_policy not in ns.import_policies %}{% set ns.import_policies = ns.import_policies + [ipv4_import_policy] %}{% endif %}
{% if ipv6_import_policy not in ns.import_policies %}{% set ns.import_policies = ns.import_policies + [ipv6_import_policy] %}{% endif %}
{% if ipv4_export_policy not in ns.export_policies %}{% set ns.export_policies = ns.export_policies + [ipv4_export_policy] %}{% endif %}
{% if ipv6_export_policy not in ns.export_policies %}{% set ns.export_policies = ns.export_policies + [ipv6_export_policy] %}{% endif %}
{% endfor %}
{% if 'default' in ns.import_policies %}
filter intra_ibgp_import_default {
    if !(bgp_large_community ~ [(4242422024,1,1)]) then reject;
    if bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    accept;
}
{% endif %}
{% if 'default' in ns.export_policies %}
filter intra_ibgp_export_default {
    if !(bgp_large_community ~ [(4242422024,1,1)]) then reject;
    if bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    accept;
}
{% endif %}
{% if 'no_iana' in ns.import_policies %}
filter intra_ibgp_import_no_iana {
    if !intra_ibgp_check_community() then reject;
    if bgp_large_community ~ [(IANA_OWNAS,*,*)] then reject;
    accept;
}
{% endif %}
{% if 'no_iana' in ns.export_policies %}
filter intra_ibgp_export_no_iana {
    if !intra_ibgp_check_community() then reject;
    if bgp_large_community ~ [(IANA_OWNAS,*,*)] then reject;
    accept;
}
{% endif %}

{% if 'iana_full' in ns.import_policies %}
filter intra_ibgp_import_iana_full {
    if bgp_large_community ~ [(205369,65535,65282)] || bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    if bgp_large_community ~ [(4242422024,1,1)] then reject;
    accept;
}
{% endif %}
{% if 'iana_full' in ns.export_policies %}
filter intra_ibgp_export_iana_full {
    if bgp_large_community ~ [(205369,65535,65282)] || bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    if bgp_large_community ~ [(4242422024,1,1)] then reject;
    accept;
}
{% endif %}

{% if 'full' in ns.import_policies %}
filter intra_ibgp_import_full {
    if bgp_large_community ~ [(205369,65535,65282)] || bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    accept;
}
{% endif %}
{% if 'full' in ns.export_policies %}
filter intra_ibgp_export_full {
    if bgp_large_community ~ [(205369,65535,65282)] || bgp_large_community ~ [(4242422024,65535,65282)] then reject;
    if bgp_community ~ [(65535,65282)] then reject;
    accept;
}
{% endif %}

template bgp intra_ibgpeers {
    router   id INTRA_ROUTERID;
    local    as INTRA_OWNAS;
    neighbor external;
    interpret communities off;
};

include "ibgp/*";
