{% set intra_static = intra.static | default({}) %}
{% set underlay_loopback = intra_static.underlay_loopback | default({}) %}
{% set underlay_loopback_enabled = underlay_loopback.enabled | default(true) %}
{% set underlay_loopback_communities = underlay_loopback.communities | default(intra_global.underlay_loopback_communities | default([])) %}
protocol static intra_static_v4{
{% if underlay_loopback_enabled %}    route INTRA_LOOPBACKv4NET reject{
{% for community in underlay_loopback_communities %}{% if community is string %}        bgp_community.add({{ community }});
{% elif community | length == 2 %}        bgp_community.add(({{ community | join(',') }}));
{% else %}        bgp_large_community.add(({{ community | join(',') }}));
{% endif %}{% endfor %}    };
{% endif %}{% for route in intra_static.v4_routes | default([], true) %}    route {{ route.prefix }} reject{
{% for community in route.communities | default([]) %}{% if community is string %}        bgp_community.add({{ community }});
{% elif community | length == 2 %}        bgp_community.add(({{ community | join(',') }}));
{% else %}        bgp_large_community.add(({{ community | join(',') }}));
{% endif %}{% endfor %}    };
{% endfor %}
    ipv4 {
        import all;
        export none;
    };
}

protocol static intra_static_v6{
{% if underlay_loopback_enabled %}    route INTRA_LOOPBACKv6NET reject{
{% for community in underlay_loopback_communities %}{% if community is string %}        bgp_community.add({{ community }});
{% elif community | length == 2 %}        bgp_community.add(({{ community | join(',') }}));
{% else %}        bgp_large_community.add(({{ community | join(',') }}));
{% endif %}{% endfor %}    };
{% endif %}{% for route in intra_static.v6_routes | default([], true) %}    route {{ route.prefix }} reject{
{% for community in route.communities | default([]) %}{% if community is string %}        bgp_community.add({{ community }});
{% elif community | length == 2 %}        bgp_community.add(({{ community | join(',') }}));
{% else %}        bgp_large_community.add(({{ community | join(',') }}));
{% endif %}{% endfor %}    };
{% endfor %}
    ipv6 {
        import all;
        export none;
    };
}
