function iana_ibgp_add_community(){
    
}

function iana_ibgp_check_community(){
    if !(bgp_large_community ~ [(IANA_OWNAS,1,1)]) then return false;
    if bgp_large_community ~ [(IANA_OWNAS,65535,65282)] then return false;
    return true;
}


template bgp iana_ibgp {
    local as IANA_OWNAS;
    neighbor as IANA_OWNAS;
    path metric 1;
    multihop;
    router id IANA_ROUTER_ID;

    ipv6 {
        import filter {
            if !iana_filter_default_check() then reject;
            iana_ibgp_add_community();
            accept;
        };
        export filter {
            if !iana_filter_default_check() then reject;
            if !iana_ibgp_check_community() then reject;
            remove_confederation_as();
            remove_private_community();
            accept;
        };
        next hop self;
    };

    graceful restart; 
}
{% for session in iana.ibgp.sessions | default([]) %}
protocol bgp '{{ session.protocol }}' from iana_ibgp{
    neighbor {{ session.neighbor.address }}{% if session.neighbor.interface is defined and session.neighbor.interface %} % '{{ session.neighbor.interface }}'{% endif %};
    local {{ session.local }};
{% if session.direct | default(false) %}    direct;
{% endif %}}
{% endfor %}
